body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
i {
    font-style: normal;
    font-weight: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

q:before,
q:after {
    content: ''
}

a:focus {
    outline-style: none
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

textarea {
    resize: none
}

input::-ms-clear {
    display: none
}

a,
a:focus,
a:hover {
    text-decoration: none
}

body {
    font: 12px/1.3 Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    overflow-x: hidden;
    color: #333;
    -webkit-font-smoothing: antialiased;
    /* font-family: "Roboto" !important; */
    letter-spacing: 1px
}

::selection {
    background: #eb7350;
    color: #fff
}

:focus {
    outline-color: #eb7350
}

header .top-bar {
    height: 50px;
    font-size: 16px;
    color: #524f3f;
    font-family: "Gadugi";

}

header .top-bar .infos {
    line-height: 50px;
    padding-left: 0
}

header .top-bar .infos .phone {
    padding-right: 80px
}

header .top-bar .infos>div {
    padding-left: 0
}

header .top-bar img {
    padding-right: 5px
}

header .top-bar .top-share {
    padding: 20px 0
}

header .top-bar .medias {
    padding-left: 13%;
    padding-right: 0
}

header .top-bar .top-share a {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 10px;
    box-sizing: border-box
}

header .top-bar .top-share a:last-child {
    margin: 0
}

header .top-bar .top-share img {
    max-width: 100%;
    height: auto
}

header .top-nav {
    box-shadow: 1px 4px 15px 0 rgba(13, 14, 15, 0.3)
}

header .top-nav .logo {
    position: relative;
    padding: 15px 0
}

header .top-nav .logo img {
    width: 80%
}

header .top-nav .list li {
    float: left
}

header .top-nav .list li a {
    font-size: 14px;
    color: #706f74;
    line-height: 106px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

header .top-nav .list,
header .top-nav .list li:last-child a {
    padding-right: 0
}

header .top-nav .list a:hover {
    text-decoration: none;
    color: #2011
}

header .top-nav .list .nav-active a {
    color: #201156
}

.index .swiper-wrapper a {
    display: inline-block
}

.index .swiper-pagination-bullet-active {
    background-color: #fff
}

/* .index .odds {
    margin: 36px 0
} */

.index .odds img,
.index .product img,
.index .contact img {
    max-width: 100%;
    height: 100%
}

.index .odds h3,
.index .product h3,
.index .news h3,
.index .about h3,
.index .contact h3,
.index .case h3 {
    text-align: center;
    margin-bottom: 55px;
    text-align: center;
    color: #1f1155;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 1000;
    font-family: "Verdana";
    position: relative;
}

.index .odds h3::before,
.index .odds h3::after,
.index .product h3::before,
.index .product h3::after,
.index .news h3::before,
.index .news h3::after,
.index .about h3::before,
.index .about h3::after,
.index .contact h3::before,
.index .contact h3::after,
.index .case h3::after,
.index .case h3::before {
    content: "";
    width: 200px;
    height: 2px;
    line-height: 2px;
    background-color: #f27021;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%)
}

.index .odds {
    padding: 50px 0;
}

.index .odds .box {
    background-color: #c4c4c4;
}

.index .odds .box .list {
    padding: 50px 0
}


.index .odds .box .list .ico {
    padding-bottom: 30px;

}

.index .odds .box .list .ico:nth-child(4) p {
    width: 180px
}

.index .odds .box .list .ico:nth-child(5) p {
    width: 260px
}

.index .odds .box .list .box-img {
    text-align: center
}

.index .odds .box .list p {
    width: 200px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
    color: #fff;
    padding: 20px 0;
    text-transform: uppercase
}

.index .product {
    padding: 50px 0;
    background-color: #f0f0f0;
}

.index .product .list .imgs,
.index .product .list .txt {
    padding: 0;
    margin: 0;
    position: relative
}

.index .product .list .txt .box {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.index .product .list .txt .title {
    width: 100%;
    font-size: 20px;
    color: #201156;
    line-height: 1.4;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
    font-family: Verdana;
}

.index .product .list .txt .content {
    font-size: 16px;
    line-height: 1.4;
}


.index .product .list .txt {
    font-size: 20px;
    line-height: 1.4;
    color: #727275;
    word-wrap: break-word;
    background-color: #fff;
}

.index .product .pro-btn {
    text-align: center;
    display: block;
    margin: 5% auto;
    margin-bottom: 0;
    width: 230px;
    height: 45px;
    line-height: 45px;
    color: #201156;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid #201156;
    border-radius: 8px;
    box-sizing: border-box;
}

.index .product .pro-btn:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #201156;
}


/*.index .news {
    padding: 50px 0 10px 0;
     border-top: 10px solid #c5c4ca; 
border-bottom: 10px solid #c5c4ca 
}*/

.index .about .about-btn {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 136px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-top: 28px;
}

.index .about .about-btn:hover {
    background-color: #201156;
    border: 1px solid #201156;
}

.index .news .box {
    width: 100%;
    padding: 30px 0;
    position: relative
}

.index .news .box .news-box {
    width: 50%;
    display: block
}

.index .news .box .txt {
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 18px;
    color: #252527;
    padding: 27px 32px;
    background: url("../images/border-left.png")no-repeat;
    background-size: 98%;
    font-weight: 600
}

.index .news .box .border-right .txt {
    background: url("../images/border-right.png")no-repeat;
    background-size: 98%;
    padding: 40px 38px
}

.index .news .box .last .txt {
    padding: 15px 40px
}

.index .news .box .line {
    width: 2px;
    height: 100%;
    background-color: #727273;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

.index .news .box .line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #727273
}

.index .news .box .news-box .voice {
    padding: 15px 0 0 15px
}

.index .news .more {
    display: block;
    width: 156px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #f27021;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 30px auto
}

.index .about {
    padding-top: 50px
}

.index .about .content {
    background: url("../images/about-bg.png")no-repeat;
    background-size: cover;
    padding: 60px 0
}

.index .about .content .top {
    color: #fff
}

.index .about .content .top .box-img {
    padding-left: 0
}

.index .about .content .top .txt {
    padding-right: 0
}

.index .about .content .top .title {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
    padding-bottom: 30px;
}

.index .about .content .top .txt p {
    font-size: 16px;
    line-height: 1.5
}

.index .about .lines {
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 30px 0
}

.index .about h5 {
    text-align: center;
    font-size: 26px;
    text-align: center;
    color: #fff;
    font-weight: 600
}

.index .about .list .box-img {
    text-align: center;
    padding: 20px 0
}

.index .about .list .imgs .images {
    text-align: center
}

.index .contact {
    padding: 50px 0
}

.index .contact .title {
    font-size: 16px;
    padding-bottom: 20px;
    text-align: center
}

.index .contact .lines {
    display: none;
    width: 100%;
    height: 1px;
    background-color: #000
}

.index .contact .list .title,
.index .contact .step2 {
    font-size: 20px;
    color: #777;
    text-align: left;
    text-transform: capitalize;
    padding: 10px 0;
}

.index .contact .step2 {
    padding-top: 10px;
}

.index .contact .form-box {
    margin-top: 10px;
}

.index .contact .list .title span {
    color: #ff0202
}

.index .contact h5 {
    padding: 30px 0 15px 0;
    font-size: 18px
}

.index .contact .emails {
    color: #727275
}

.index .contact .contact-top {
    text-align: center
}

.index .contact .list .box .box-img {
    margin-bottom: 30px
}

.index .contact form {
    margin-bottom: 50px;
    text-align: center
}

.index .contact form .box {
    font-size: 16px;
    padding-bottom: 10px;
    text-align: left
}

.index .contact form .box .box-left {
    text-align: right
}

.index .contact form .box p {
    font-weight: 500;
    padding-bottom: 5px;
    color: #98979c;
}

.index .contact form .box input {
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: 0;
    border: 1px solid #cacaca;
    background-color: #fcfcfc;
    padding-left: 15px
}

.index .contact form .box p span {
    color: red;
    font-size: 16px
}

.index .contact form .box textarea {
    width: 100%;
    height: 180px;
    border: 0;
    border: 1px solid #cacaca;
    background-color: #fcfcfc;
    padding-left: 15px
}

.index .contact form .submit-btn {
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    font-size: 18px;
    color: #201156;
    border: 1px solid rgba(32, 17, 86, 1);
    border-radius: 6px;
    margin-left: 476px;
}

.index .contact .details .boxs .boxs-img {
    text-align: center
}

.index .contact .details .boxs {
    padding-bottom: 5%
}

.index .contact .details .boxs-txt {
    line-height: 1.4;
    font-size: 18px;
    color: #777;
    padding-left: 0;
}

.index .contact .details .boxs:last-child {
    padding-bottom: 0
}

.index .contact h3 {
    margin-bottom: 40px;
}

.index .contact h6 {
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    /* padding: 25px 0 20px 0; */
}

footer .info {
    height: 120px;
    background-color: #f2f1f1
}

footer .info .box {
    padding-top: 15px;
    font-size: 14px
}

footer .info p {
    text-align: center;
    padding: 20px 0;
    font-size: 16px
}

footer .info .box img {
    padding-right: 10px
}

footer .copy {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #1f1155
}

.goTop {
    position: fixed;
    bottom: 10rem;
    right: 0;
    display: none;
    width: 58px;
    height: 58px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    background: #1f1155;
    color: #fff;
    cursor: pointer
}

.goTop .topIcon {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-top: 2px solid;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    left: 36%
}

.goTop p {
    font-size: 16px;
    padding-top: 32px
}

header .infos a {
    color: #524f3f
}

.index .contact .details .boxs-txt a {
    color: #737277
}

@media screen and (max-width:1920px) {
    .index .product .list .txt .box {
        top: 50%
    }

    .index .product .list .imgs,
    .index .product .list .txt {
        height: 390px
    }

    .index .swiper-wrapper img {
        max-width: 100%
    }
}

@media screen and (max-width:1366px) {
    .index .swiper-wrapper img {
        max-width: 100%;
        width: 100%;
        height: 500px
    }

    .index .product {
        padding-bottom: 20px;
    }

    .index .odds .box .list p {
        padding: 10px 0;
        font-size: 18px;
    }

    .index .product .pro-btn {
        margin: 3% auto;
    }

    .index .swiper-wrapper swiper-wrapper {
        width: 100%
    }

    header .top-nav .logo img {
        width: 60%
    }

    header .top-bar {
        height: 40px
    }

    header .top-bar .infos {
        line-height: 40px
    }

    header .top-nav {
        height: 70px
    }

    header .top-nav .logo {
        padding: 6px 0
    }

    header .top-nav .list li a {
        line-height: 70px
    }

    .index .odds h3,
    .index .product h3,
    .index .news h3,
    .index .about h3,
    .index .contact h3 {
        font-size: 24px
    }

    .index .odds img {
        width: 22%
    }

    .index .odds .box .list .box-img {
        min-height: 66px
    }

    .index .odds .box .list .ico {
        padding-bottom: 10px;

    }

    .index .odds .box .list {
        padding-top: 30px;
        padding-bottom: 0
    }

    .index .product .list .imgs,
    .index .product .list .txt {
        height: 390px
    }

    .index .product .list .txt .title,
    .index .contact .list .title {
        font-size: 18px
    }

    .index .list .content,
    .index .contact .details .boxs-txt {
        font-size: 16px
    }

    .index .contact {
        padding-bottom: 0
    }

    .index .contact .details .boxs .boxs-img img {
        width: 60%
    }

    .index .contact .details .boxs:nth-child(3) img {
        width: 40%
    }

    .index .contact form .box {
        padding-bottom: 20px
    }

    .index .contact form .submit-btn {
        width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        margin-left: 520px;
    }

    footer .copy {
        font-size: 20px
    }

}

header .top-nav .list {
    padding-left: 96px
}

.index .top .box-img img {
    max-width: 100%;
    /* cursor: pointer */
}

.index .about .images img {
    /* cursor: pointer; */
    max-width: 100%
}

.index .contact .list .box-img {
    width: 20%;
    float: left;
    margin-right: 0
}

.index .contact .list .box-img img {
    height: 200px
}

.index .about .images img {
    width: 250px;
    height: 350px
}

.index .contact .list .box img {
    cursor: pointer
}

.index .contact .list .box .active img {
    border: 2px solid red
}

.thanks h5 {
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
    padding: 50px 0 20px 0
}

.thanks p {
    text-align: center;
    font-size: 18px;
    line-height: 1.4
}

.case {
    padding: 30px 0;
    box-sizing: border-box;
}

.case .imgs img {
    max-width: 100%;
    height: auto;
}

.case .txt {
    padding: 30px;
}

.case .txt p {
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 15px;
}

.case .txt a {
    display: block;
    width: 150px;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    padding: 10px;
    background-color: #1f1155;
    border-radius: 8px;
}

.case .txt a:hover {
    color: #1f1155 !important;
    background-color: #fff !important;
    border: 1px solid #1f1155;
}

footer .footer-contact {
    /* display: block; */
    display: none;
    width: 150px;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
    padding: 10px;
    background-color: #1f1155;
    border-radius: 8px;
    position: fixed;
    bottom: 200px;
    right: 0;
    z-index: 9999;
}

header .top-nav .list li a:hover {
    color: #1f1155;
}

.index .about .list .list-boxs {
    padding: 30px 0;
    background-color: rgba(255, 255, 255, .5);
}

.index .about .list .images:nth-child(1) img {
    width: 352px;
    height: 120px;
    margin-left: 40px;
}

.index .about .list .images:nth-child(2) img {
    width: 143px;
    height: 120px;
    margin-left: 70px;
}


.index .about .list .images:nth-child(3) img {
    width: 120px;
    height: 120px;
}

.index .contact form .submit-btn:hover {
    background-color: #1f1155;
    color: #fff;
}